# 编译产物
bin/
obj/

# macOS
.DS_Store

# IDE
.vs/
.idea/

# 备份文件
*.bak

# yak 构建产物
yak_build/


# Rhino backup
*.3dmbak
Turtle-old.3dm

# Affinity Designer lock
*~lock~

# Windows thumbnail cache
Thumbs.db
